body{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
a{
    color: inherit;
    text-decoration: none;
}
.nav{
    padding: 10px 20px 10px 20px;
    background-color: rgb(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}
.nav1{
    margin: 0px;
    padding: 0px;
    width: 1000px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.nav ul li{
    display: inline;
    margin-right: 70px;
}
div a{
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}
.nav i{
    font-size: 15px;
}
.nav ul li a:hover{
    font-weight: bold;
}
.first{
    text-align: center;
    background-color: rgba(8, 8, 8, 0.959);
    padding-top: 40px;
    padding-bottom: 376px;
    color: white;
    font-family: sans-serif;
}
.first h1{
    font-size: 54px;
    margin-bottom: -19px;
    letter-spacing: -2px;
    word-spacing: 3px;
    
}
.first h2{
    font-size: 26px;
    margin-bottom: -8px;
}
.first p{
    color: gray;
}
.first ul{
    margin-top: 29px;
}
.first ul li{
    display: inline;
    margin-right: 20px;
}
.first ul li a{
    color: rgb(0, 110, 255);
    font-size: 18px;
}
.first ul li a:hover{
    text-decoration: underline;
}
.second{
    background-color: rgb(250, 245, 245);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1px;
    height: 170px;
}
.second h1{
    color: rgba(0, 0, 0, 0.884);
}
.second h2{
    color: rgba(0, 0, 0, 0.877);
}
.second h3{
    color: rgba(240, 6, 6, 0.849);
}
.flex-container{
    display: flex;
    
    justify-content: space-evenly;
}
.div{
    width: 48.7%;
    height: 550px;
    background-color: rgba(8, 8, 8, 0.959);
    color: white;
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
    
}
.main{
    padding-top: 40px;
    width: 100%;
    height: 510px;
    text-align: center;
    position: relative;

}
.link{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

div h1{
    font-size: 40px;
    margin-bottom: -15px;
    letter-spacing: -2px;
    word-spacing: 3px; 
}
div h2{
    margin-top: 20px;
   font-size: 22px;
   font-weight: lighter;
   line-height: 35px;
   
}
footer{
    padding: 10px 20px 10px 20px;
    background-color: rgba(231, 225, 225, 0.904);
}
.footer{
    text-align: left;
    width: 1000px;
    height: 250px;
    background-color: rgba(231, 225, 225, 0.904);
}
footer p{
    line-height: 15px;
    font-size: 13px;
    font-family: sans-serif;
    color: gray;
}
.services2{
    width: 1000px;
    position: relative;
    padding-left: -20px;
    display: flex;
    justify-content: space-between; 
}
.services2 ul li a{
    line-height: 25px;
    font-size: 12px;
    font-family: sans-serif;
    color: gray;
}
.services2 p{
    color: black;
    font-weight: bold;
}
.options{
    max-width: 150px;
    min-width: 140px;   
}
.footer-links{
    background-color: brown;
    width: 100%;
    position: absolute;
    visibility: hidden;
}
@media(max-width:1070px){
    .first h1{
        font-size: 45px;
        margin-bottom: -10px;
        letter-spacing: -2px;
        word-spacing: 3px;
        
    }
    .first h2{
        font-size: 22px;
        margin-bottom: -8px;
    }
    .first p{
        font-size: 17px;
    }
    .div{
        height: 450px;
    }
    .main{
        height: 410px;
    }
    div h1{
        font-size: 30px;
        letter-spacing: -1px;
    }
    div h2{
        margin-top: 20px;
       font-size: 17px;
       line-height: 22px;
       
    }
}
@media(max-width:1017px){
    .services2{
        margin-top: 15px;
    }
}
@media(max-width:767px){
    .nav1{
        display: none;
    }
    .nav{
        height: 30px;
    }
    .services2{
        margin-top: 60px;
        display: block;
        visibility: hidden;
    }
    
    .footer-links{
      width: 100%;  
    }
    .footer-links ul{
        position: absolute;
        visibility: visible;
        padding-left: 30px;
        padding-right: 30px;
        left: 0px;
        margin-top: 100px;
        right: 0px;
        
    }
    .footer-links ul li{
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer-links ul li a{
        color: black;
    }
    .footer-links hr{
        width: 100%;
    }
    .footer-links ul li a:hover > ul{
        visibility: visible;
    }
    .footer-links2 li{
        position: absolute;
        visibility: hidden;
    }
}
@media(max-width:750px){
    .first h1{
        font-size: 30px;
        margin-bottom: -10px;
        letter-spacing: -2px;
        word-spacing: 3px;
        
    }
    .first h2{
        font-size: 17px;
        margin-bottom: -8px;
    }
    .first p{
        font-size: 15px;
    }
    .flex-container{
        display: block;
    }
    .div{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .services2{
        width: 100%;
        margin-top: 50px;
    }
    .footer-links{
      width: 100%;  
    }
    .footer-links ul{
        margin-top: -1700px;
    }
}
@media(max-width:550px){
    .services2{
        margin-top: 140px;
    }
}
@media(max-width:600px){
    .services2{
        margin-top: 120px;
    }
}